<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置实体类的别名，配置实体类别名的目的是为了在引用实体类时可以使用实体类的别名来代替实体类，达到简写的目的 -->
    <typeAliases>
        <!-- 为com.campus.Class包下的所有实体类配置别名，MyBatis默认的设置别名的方式就是去除类所在的包后的简单的类名
        比如com.campus.Class.User这个实体类的别名就会被设置成User
         -->
        <package name="com.campus.Class"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/campus" />
                <property name="username" value="root" />
                <property name="password" value="" />
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
        <mapper resource="com/campus/Mapper/userMapper.xml"/>
        <mapper resource="com/campus/Mapper/catalogMapper.xml"/>
        <mapper resource="com/campus/Mapper/bookMapper.xml"/>
        <mapper resource="com/campus/Mapper/addressMapper.xml"/>
        <mapper resource="com/campus/Mapper/collectMapper.xml"/>
        <mapper resource="com/campus/Mapper/orderMapper.xml"/>
        <mapper resource="com/campus/Mapper/hotsellMapper.xml"/>
    </mappers>

</configuration>