@import '../scss/reset';
@import '../scss/common';
.sidebar{
	width: 200px;
	position: fixed;top: 0;left: 0;bottom: 0;
	background-color: #555;
	.portrail{
		width: 100px;padding: 50px;
		border-bottom: 2px solid;
		img{width: 100%;border-radius: 100px;}
	}
	.list li > a{padding: 10px 30px;text-align: center;background-color: #666666;display: block;color: #fff;transition: background 0.5s;}
	.list li > a:hover,a.active{background-color: #e2e2e2 !important;color: #000 !important;border-left: 5px solid black;}
}
.right{
	margin-left: 200px;
	padding: 0 20px;
	background-color: #e2e2e2;
	min-height: 100%;
}
.all-statue{
	width: 100%;
	padding-top: 20px;
	h1{margin-left: 20px;padding: 10px 0;}
}
.statue{
	width: 33%;
	float: left;
	text-align: center;
	.detail{
		width: 10em;
		display: inline-block;
		text-align: center;
		height: 10em;
		border: 5px solid;
		border-radius: 100%;
		position: relative;
		p{
			position: absolute;
			width: 100%;
			top: 50%;
			margin-top: -0.65em;
			text-align: center;
			font-size: 5em;
			font-weight: bold;
		}
	}
	&:nth-child(2){border-color: #00796B;color: #00796B;}
	&:nth-child(3){border-color: #9C27B0;color: #9C27B0;}
	&:nth-child(4){border-color: #FF5722;color: #FF5722;}
}
p.time {
    position: absolute;
    bottom: 10px;
    right: 50%;
    margin-right: -58px;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
}
