html {
  color: #000;
  background: #FFF;
  font-family: "Microsoft Yahei";
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, button {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}

legend {
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix {
  clear: both;
}

header#main-header {
  width: 100%;
  background-color: #f5f1f1;
  font-size: 13px;
  line-height: 1.5em;
  color: black;
}
header#main-header ul li {
  padding: 2px 5px;
  margin-right: 10px;
  display: inline-block;
}
header#main-header .right-part {
  float: right;
  margin-right: 100px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  min-width: 900px;
}

.campus-logo {
  width: 200px;
  float: left;
}

.logo-search {
  margin-top: 20px;
}

section#search-box {
  border: 1px solid black;
  padding: 0;
  text-align: left;
  float: left;
  width: 490px;
  margin: 25px;
  margin-left: 200px;
  display: inline-block;
  position: relative;
}
section#search-box input {
  width: 400px;
  margin-left: 2px;
  outline: none;
  border: none;
  vertical-align: middle;
  height: 30px;
}
section#search-box button.btn-search {
  height: 30px;
  width: 80px;
  background-color: black;
  color: #fff;
  border: none;
  position: absolute;
  right: 0;
}

span.red {
  color: red !important;
}

/**	
 * 	buttons style
 */
.btn {
  border: 1px solid #7a7a7a;
  background: transparent;
  color: black;
  padding: 5px 25px;
  cursor: pointer;
}

.btn-confirm {
  background-color: #0DBD08;
  color: #fff;
  border: none;
}

.btn-cancel {
  background-color: #E81E13;
  color: #fff;
  border: none;
}

.btn-small {
  padding: 2px;
  font-size: 13px;
}

.btn-collect {
  border: none;
  background-color: #FF7905;
  color: #fff;
}

.btn-buy {
  border: none;
  color: #fff;
  background-color: #F31A1A;
}

.bookInfo {
  border: 1px solid #bcbcbc;
}
.bookInfo * {
  margin-bottom: 10px;
}

.bookHead {
  font-size: 1.2em;
  margin-top: 15px;
}
.bookHead:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.bookHead .leftCover {
  float: left;
  width: 350px;
}
.bookHead .leftCover img {
  width: 100%;
  display: block;
}
.bookHead .rightDetail {
  float: left;
  margin-left: 40px;
  width: 600px;
}
.bookHead span.left {
  padding-right: .5em;
  border-right: 7px solid #9A9494;
  margin-right: 1em;
  text-align: right;
  width: 4em;
  display: inline-block;
}
.bookHead .title {
  line-height: 1em;
  font-size: 2.5em;
  font-weight: bold;
}
.bookHead .saler {
  color: #999;
  font-size: 1.2rem;
}
.bookHead .price {
  line-height: 2em;
  font-weight: bold;
  color: red;
  font-size: 1.5em;
}
.bookHead .time {
  font-size: .9rem;
  color: #999;
}
.bookHead .summary {
  color: #999;
  font-size: .9em;
}

.bookDesc {
  width: auto;
  margin: 5px 15px;
  border-top: 4px solid #bcbcbc;
  padding-top: 10px;
}
.bookDesc p.topDesc {
  text-align: center;
  color: #bcbcbc;
}

.bookHead2 {
  margin-top: 15px;
}
.bookHead2:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.bookHead2 .leftCover {
  float: left;
  width: 200px;
}
.bookHead2 .leftCover img {
  width: 100%;
  display: block;
}
.bookHead2 .rightDetail {
  float: left;
  margin-left: 40px;
  width: 600px;
}
.bookHead2 span.left {
  padding-right: .5em;
  border-right: 3px solid #9A9494;
  margin-right: 1em;
  font-size: 0.9em;
  text-align: right;
  width: 4em;
  display: inline-block;
}
.bookHead2 .title {
  line-height: 1em;
  font-size: 1em;
  font-weight: bold;
}
.bookHead2 .saler, .bookHead2 .time {
  color: #999;
  font-size: 1em;
}
.bookHead2 .price {
  line-height: 2em;
  font-weight: bold;
  color: red;
  font-size: 0.8em;
}
.bookHead2 .summary {
  color: #666666;
  font-size: 0.8em;
}

table.table {
  float: left;
  border-collapse: separate;
  border-spacing: 11px;
  border-left: 6px solid #626262;
  margin-top: 1em;
}

table.table tr td:nth-child(1) {
  width: 10em;
}

table.saler {
  width: 300px;
}

table.buyer {
  width: 600px;
}
