html {
  color: #000;
  background: #FFF;
  font-family: "Microsoft Yahei";
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, button {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}

legend {
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix {
  clear: both;
}

header#main-header {
  width: 100%;
  background-color: #f5f1f1;
  font-size: 13px;
  line-height: 1.5em;
  color: black;
}
header#main-header ul li {
  padding: 2px 5px;
  margin-right: 10px;
  display: inline-block;
}
header#main-header .right-part {
  float: right;
  margin-right: 100px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  min-width: 900px;
}

.campus-logo {
  width: 200px;
  float: left;
}

.logo-search {
  margin-top: 20px;
}

section#search-box {
  border: 1px solid black;
  padding: 0;
  text-align: left;
  float: left;
  width: 490px;
  margin: 25px;
  margin-left: 200px;
  display: inline-block;
  position: relative;
}
section#search-box input {
  width: 400px;
  margin-left: 2px;
  outline: none;
  border: none;
  vertical-align: middle;
  height: 30px;
}
section#search-box button.btn-search {
  height: 30px;
  width: 80px;
  background-color: black;
  color: #fff;
  border: none;
  position: absolute;
  right: 0;
}

span.red {
  color: red !important;
}

/**	
 * 	buttons style
 */
.btn {
  border: 1px solid #7a7a7a;
  background: transparent;
  color: black;
  padding: 5px 25px;
  cursor: pointer;
}

.btn-confirm {
  background-color: #0DBD08;
  color: #fff;
  border: none;
}

.btn-cancel {
  background-color: #E81E13;
  color: #fff;
  border: none;
}

.btn-small {
  padding: 2px;
  font-size: 13px;
}

.btn-collect {
  border: none;
  background-color: #FF7905;
  color: #fff;
}

.btn-buy {
  border: none;
  color: #fff;
  background-color: #F31A1A;
}

.btn-disabled {
  background-color: #9E9D9D;
  color: #E2E1E1;
}

.left, .right {
  float: left;
}

.left {
  width: 200px;
}

.right {
  width: 800px;
}

nav#main-nav {
  width: 100%;
}
nav#main-nav a {
  padding: 0 10px;
  display: inline-block;
  margin-left: 10px;
  height: 40px;
  line-height: 40px;
}
nav#main-nav a:hover {
  background-color: black;
}
nav#main-nav li.parentNode {
  text-align: center;
  font-size: 15px;
  list-style: none;
  line-height: 2em;
  color: #fff;
  background-color: purple;
}
nav#main-nav ul {
  background-color: red;
  text-align: left;
}

.bookList li.listItem {
  width: 174px;
  padding: 10px;
  margin: 0px;
  display: inline-block;
}
.bookList li.listItem img {
  width: 100%;
}
.bookList li.listItem p.itemDesc {
  color: #999;
  line-height: 20px;
  height: 20px;
  font-size: 0.8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bookList li.listItem p.itemTitle {
  font-weight: bold;
  line-height: 20px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bookList li.listItem p.itemPrice {
  font-weight: bold;
}
