$base_url:'../scss/';
@import $base_url+'reset';
@import 'common';
.container{width: 1000px;margin: 0 auto;min-width: 900px}
.campus-logo{width: 200px;float: left;}
.logo-search{margin-top: 20px}
section#search-box{
    border: 1px solid black;
    padding: 0;
    text-align: left;
    float: left;
    width: 490px;
    margin: 25px;
    margin-left: 200px;
    display: inline-block;
	input{
		width: 400px;
		margin-left: 2px;
		outline: none;
		border: none;
		vertical-align: middle;
	}
	button.btn-search{
	    height: 30px;
	    width: 80px;
	    background-color: black;
	    color: #fff;
	    border: none;
	}
}
.left,.right{float: left;}
.left{width: 200px}
.right{width: 800px;}
nav#main-nav{
	//float: left;
	width: 100%;
	a{
		padding: 0 10px;
		display: inline-block;
		margin-left: 10px;
		height: 40px;
		line-height: 40px;
		&:hover{
			background-color: black;
		}
	}
	li.parentNode{
		text-align: center;
		font-size: 15px;list-style: none;
		line-height: 2em;
		color: #fff;
		background-color: purple;
	}
	ul{
		background-color: red;
		text-align: left;
	}
}
.bookList{
	li.listItem{
		width: 174px;
		padding: 10px;
		margin: 0px;
		//border: 1px solid black;
		display: inline-block;
		img{width: 100%;}
		p.itemDesc{
			color: #999;
			line-height: 20px;
			height: 20px;
			font-size: 0.8em;
			text-overflow:ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		p.itemTitle{
			font-weight: bold;
			line-height: 20px;height: 20px;
			text-indent: 1em;
		}
		p.itemPrice{
			font-weight: bold;
		}
	}
}