.popup-box{
	position: fixed;left: 50%;top: 100px;
	width: 400px;
	margin-left: -200px;
	//padding: 20px;
	border-radius: 10px;
	background-color: #fff;
	//display: none;
	.popup-title{
		text-align: center;
		border-bottom: 1px solid #afafaf;
		padding: 20px 20px 10px
	}
	.popup-content{padding:10px 0;padding: 20px 20px 10px}
	.popup-footer{border-top: 1px solid #afafaf;padding: 10px 20px}
	.popup-footer .btn-group{text-align: right;}
}
.popup-mask{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;left: 0;
	width: 100%;height: 100%;
	display: none;
}

